<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ayodeleochoa.ayoapps"
    android:hardwareAccelerated="true">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AyoApps"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".views.GoogleMapsActivity"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB3j7dvDDgSpU4dTr5eOp1oyIqo_mfW3mo" />

        <!--<service
            android:name="MyNavigationService"
            android:foregroundServiceType="location" ... >
        &lt;!&ndash; Any inner elements would go here. &ndash;&gt;
    </service>-->

        <activity
            android:name=".PhotoGalleryActivity"
            android:exported="true"
            android:label="@string/title_activity_photo_gallery"
            android:theme="@style/Theme.AyoApps.NoActionBar" />
        <activity
            android:name=".AccessibilityActivity"
            android:exported="true"
            android:label="@string/title_activity_accessibility"
            android:theme="@style/Theme.AyoApps.NoActionBar" />
        <activity android:name=".RoomDatabaseActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AyoApps.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>